@media(min-width: 1200px) {

    main {
        display: grid;
        grid-template-areas: "card1 card2 card3 card4"
                               ".   card5 card6  .";
        grid-template-columns: repeat(4, minmax(200px, 300px));
        margin:0;

        justify-content: space-between;
        margin-bottom: 40px;

    }

    .img-container {
        justify-items: flex-end;
        justify-content: end;
        /* background-color: pink; */
    }
    .row2 {
        background-color: pink;
    }
}

@media(max-width: 1000px) {

    main {
        grid-template-columns: repeat(2, minmax(300px, 400px));
        grid-template-areas: "card1 card2"
                              "card3 card4"
                              "card5 card6";
    }
}

@media(max-width: 768px) {

    .h1 { 
        font-size: 40px;
        font-weight: 300;
    }

    .banner {
        
        grid-template: auto / auto;
        justify-content: center;
        align-items: center;
        /* background-color: yellow; */
        width: auto;
        
    }
    .banner-heading {
        text-align: center;
        display: flex;
        justify-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        /* background-color: aqua; */
    } 

    
    .img-container {
        width: 100%;
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
        /* background-color: pink; */
    }
    
    main {
        grid-template-rows: auto;
        grid-template-columns: minmax(400px, 1fr);
        grid-template: auto / 1fr;
        grid-template-rows: auto; 
        justify-content: center;
        align-content: center; 
        row-gap: 40px;
        margin-left: 60px;
    }
}
    .card-button {
        width: 70%;
    }
@media(max-width: 590px) {
    heading { 
        justify-self: center;
        width: 100%}
    

    .get-started-button {
        display:none;
    }
    
    .hamburger-menu {
        display: block;
    }
    
    .nav-start {
        display: none;
    }

}

@media(max-width: 480px) { 

    h1 {
        font-size: 30px;
        font-weight: 200;
    }

    .banner, main {
        display:grid;
        grid-template-columns:auto;
        grid-template-rows: auto;
        justify-content: space-around;
        align-items: center;
        row-gap: 50px;
        margin: 0 20px 30px 20px;
    }

    .banner-heading { 
        display: flex;
        justify-items: center;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        
    }

    main {
        grid-template-areas: "card1"
        "card2" 
        "card3" "card4"
        "card5" "card6"; 
        margin: 20px 0 20px 0;

    }

    heading { 
        justify-self: center;
        width: 100%}
    

    .get-started-button {
        display:none;
    }
    
    .hamburger-menu {
        display: block;
    }
    
    .nav-start {
        display: none;
    }
    
    .banner-image { 
        /* The outcommented object-values below would look better in my opinion, 
        but I tried to stick with the figma template */
        /* object-position: 45% -10%;  */
        /* object-fit: none */
        object-fit: scale-down;
        min-width: 350px;
    }
}