/* ---------------------------Big Screens----------------------- */

@media(min-width: 1350px) {

    main {
        /* height: 1000px;  */
        display: grid;
        grid-template-columns: repeat(4, minmax(250px, 400px));
        grid-template-rows: repeat(2, 350px);
        grid-template-areas: "card1 card2 card3 card4" 
                                 "... card5 card6 ...";
        row-gap: 60px;
        margin:0;
        justify-content: space-between;
        
    }

    .img-container {
        justify-items: flex-end;
        justify-content: end;
    }

    footer {
        margin-top: 60px;
    }
}

/* ----------------------------Laptop-Screens-------------------------*/

@media(max-width: 1060px) {

    main {
        grid-template-columns: repeat(2, minmax(300px, 400px));
        grid-template-areas: "card1 card2"
                              "card3 card4"
                              "card5 card6";
    }
}

/* -------------------------Tablet-Screens--------------------------- */

@media(max-width: 768px) {

    .h1 { 
        font-size: 40px;
        font-weight: 300;
    }

    .banner {
        
        grid-template: auto / auto;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .banner-heading {
        text-align: center;
        display: flex;
        justify-items: center;
        justify-content: center;
        width: auto;
        height: auto;
    } 

    .img-container {
        width: 100%;
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
        /* background-color: pink; */
    }
    
    main {
        grid-template-rows: auto;
        grid-template-areas: 
        "card1 card2" 
        "card3 card4"
        "card5 card6"; 
        grid-template-columns: repeat(2, minmax(230px, 350px));
        grid-template-rows: repeat(3, minmax(200px, 350px)); 
        justify-content: center;
        align-content: center; 
        row-gap: 40px;
        margin-left: 60px;
    }
}

/* -------------------------------Bigger Smartphone / Samll Tablet----------- */

@media(max-width: 590px) {

    main {
        grid-template-areas: 
        "card1"
        "card2" 
        "card3" 
        "card4"
        "card5" 
        "card6"; 
        grid-template-columns: minmax(400px,570px);
        grid-template-rows: minmax(200px, 250px);
        margin: 20px 0 20px 0;
    }


    heading { 
        justify-self: center;
        width: 100%}
    

    .get-started-button {
        display:none;
    }
    
    .hamburger-menu {
        display: block;
    }
    
    .nav-start {
        display: none;
    }

}

/* -------------------------Smartphone----------------------------- */

@media(max-width: 480px) { 

    nav {
        margin-bottom: 30px;
    }

    h1 {
        font-size: 30px;
        font-weight: 200;
    }

    .banner, main {
        display:grid;
        grid-template-columns:auto;
        
        justify-content: space-around;
        align-items: center;
        margin: 0 20px 0 20px; 
    }

    .banner-heading { 
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 30px;
        margin: 0;  
    }

    main {
        grid-template-areas: "card1"
        "card2" "card3" "card4" "card5" "card6";
        grid-template-rows: auto;
        grid-template-columns: auto;
        margin:0;
        row-gap: 40px;
        align-items: space-around;
        justify-content: space-around;
        align-content: space-around;
        justify-items: space-around;
    }

    heading { 
        justify-self: center;
        width: 100%}
    

    .get-started-button {
        display:none;
    }
    
    .hamburger-menu {
        display: block;

    }
    
    .nav-start {
        display: none;
    }
    
    .banner-image { 
        /* The outcommented object-values below would look better in my opinion, 
        but I tried to stick with the figma template */
        /* object-position: 45% -10%;  */
        /* object-fit: none */
        object-fit: scale-down;
        min-width: 350px;
    }

    footer {
        margin-top: 30px;
    }

}