* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 

  :root {
     --image1-color: #febd2f;
     --p2-color: #646464;
     --white-color: #FFFFFF;
     --black-color: #000000;
  }

  body {
    background-color: #F5F3EF;
    margin: 30px 60px 0 60px;
  }
/* ---------------------------NAV--------------- */
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
  }
  
  .nav-start {
    display:flex;
    gap: 30px;
  }

  a {
    text-decoration: none;
  }

  .get-started-button {
     color: var(--white-color);
     padding: 10px 20px 10px 20px;
     border-radius: 20px;
     background-color: var(--black-color);
  }

  p1 {
    font-family: Roboto;
    font-size: 24px;
  }

  p2 {
    font-family: Roboto;
    font-size: 18px;
  }
  
  h1 {
    font-family Roboto Serif;
    font-size: 40px;
    font-weight: medium;
  }

  h3 {
    font-family: Roboto Serif;
    font-size: 24;
    font-weight: bold;
  }

  heading {
    text-align: center;
  }

  .banner {
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "banner-left banner-image";
    margin-bottom: 50px;
    /* background-color: greenyellow; */
  }

  .banner-heading {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: banner-left;
    /* background-color: blue; */
  }


  .banner-image {
    display: flex;
    border-radius: 40px;
    width: 600px;
    height: auto;
    grid-area: banner-image;
    grid-row: span 2;
  }

  footer {
    text-align: center;
    background-color: var(--image1-color);
  }

  .p2 {
    font-size: 18px;
    font-weight: regular;
    color: var(--p2-color);
  }

 